* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
/* font-size: 2rem; */
/* Add styles here! */
.max-width-wrapper {
  max-width: 36rem;
  margin: 2rem auto;
}
.intro-chunk {
  max-width: 65%;
  min-width: 20%;
  font-size: 1.25rem;
  padding: 1rem;
}
strong {
  color: hsl(160deg, 100%, 30%);
}
header {
  background-color: white;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 30%);
  height: 100%;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -2rem;
  margin-top: -0.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  max-width: fit-content;
  padding-right: 2rem;
  height: 4rem;
}

/* 
Color palette
Primary (green): 
hsl(160deg, 100%, 30%)

Secondary (gold):

hsl(45deg, 100%, 50%) (lighter)
hsl(45deg, 100%, 40%) (darker)

Grays:

hsl(0deg, 0%, 0%) (black)
hsl(0deg, 0%, 10%) (very dark)
hsl(0deg, 0%, 30%) (dark)
hsl(0deg, 0%, 40%) (medium)
hsl(0deg, 0%, 60%) (light)
hsl(0deg, 0%, 100%) (white)
 */ ;
